.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 476px;
  height: 432px;
  margin: 52px auto 0;
}

.u-section-1 .u-audio-1 {
  width: 500px;
  height: 126px;
  margin: 29px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 64.85% 50%;
    min-height: 553px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 372px;
  }

  .u-section-1 .u-audio-1 {
    width: 410px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 97.26% 50%;
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 290px;
  }

  .u-section-1 .u-audio-1 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 604px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 476px;
  height: 432px;
  margin: 52px auto 0;
}

.u-section-2 .u-audio-1 {
  width: 500px;
  height: 126px;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-2 .u-container-layout-2 {
  padding: 18px 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 34px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 64.85% 50%;
    min-height: 553px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 372px;
  }

  .u-section-2 .u-audio-1 {
    width: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 97.26% 50%;
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 290px;
  }

  .u-section-2 .u-audio-1 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 670px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 476px;
  height: 432px;
  margin: 52px auto 0;
}

.u-section-3 .u-audio-1 {
  width: 500px;
  height: 126px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 64.85% 50%;
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 372px;
  }

  .u-section-3 .u-audio-1 {
    width: 410px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 97.26% 50%;
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 290px;
  }

  .u-section-3 .u-audio-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 604px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 670px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 476px;
  height: 432px;
  margin: 52px auto 0;
}

.u-section-4 .u-audio-1 {
  width: 500px;
  height: 126px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 64.85% 50%;
    min-height: 553px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 372px;
  }

  .u-section-4 .u-audio-1 {
    width: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 97.26% 50%;
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 290px;
  }

  .u-section-4 .u-audio-1 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 604px;
  }
}